Source: psycle
Section: libs
Priority: optional
Build-Depends: cdbs (>= 0.4.26), debhelper (>= 4.2.30), autotools-dev, pkg-config (>= 0.15), make (>= 3.80), doxygen (>= 1.4.1), graphviz (>= 2.2), g++ (>= 3.3.5), libboost-dev (>= 1.31), libboost-thread-dev (>= 1.31), libboost-filesystem-dev (>= 1.31), libboost-signals-dev (>= 1.31), libglibmm-2.4-dev (>= 2.4.0), lib-diversalis-0-dev (>= 0.0.0)
Maintainer: Johan Boule <bohan@retropaganda.info>
Standards-Version: 3.6.1

Package:  lib-psycle-0
Provides: lib-psycle
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: psycle library
 _

Package:    lib-psycle-0-dev
Provides:   lib-psycle-dev
Recommends: lib-psycle-0-doc
Depends:    lib-psycle-0 (= ${Source-Version}), libboost-thread-dev (>= 1.31), libboost-filesystem-dev (>= 1.31), libboost-signals-dev (>= 1.31), libglibmm-2.4-dev (>= 2.4.0), lib-diversalis-0-dev (>= 0.0.0), ${misc:Depends}, pkg-config (>= 0.15)
Architecture: any
Description: development files for the psycle library
 _

Package:  lib-psycle-0-doc
Suggests: lib-psycle-0-dev (= ${Source-Version})
Architecture: all
Description: documentation for the psycle library
 -

