Source: psycle
Section: sound
Priority: optional
Build-Depends: cdbs (>= 0.4.26), debhelper (>= 4.2.30), autotools-dev, autoconf-archive, pkg-config (>= 0.18), make (>= 3.80), doxygen (>= 1.4.1), graphviz (>= 2.2), g++ (>= 3.3.5), lib-universalis-0-dev (>= 0.0.0), libgtkmm-2.4-dev (>= 2.4), libgnomecanvasmm-2.6-dev (>= 2.6), libgstreamer0.8-dev (>= 0.8.8), libgstreamer-gconf0.8-dev (>= 0.8.6), libgconf2-dev (>= 2), libjack-dev (>= 0.80.0) | libjack0.80.0-dev (>= 0.80.0) | libjack0.100.0-dev (>= 0.80.0), libasound2-dev (>= 1.0.8)
Maintainer: Johan Boule <bohan.debian.psycle@retropaganda.info>
Standards-Version: 3.6.2

Package:  psycle-0
Provides: psycle
Depends:  psycle.text-0 (= ${Source-Version}), psycle.gui-0 (= ${Source-Version}), lib-psycle.plugins-0 (= ${Source-Version}), psycle-0-doc (= ${Source-Version})
Architecture: any
Description: pseudo package which depends on all psycle packages
 Install this pseudo package to easily bring all psycle packages.

Package:  psycle-0-dev
Provides: psycle-dev
Depends: psycle-0 (= ${Source-Version}), lib-psycle.text-0-dev (= ${Source-Version}), lib-psycle.gui-0-dev (= ${Source-Version}), lib-psycle.plugins-0-dev (= ${Source-Version})
Section: libdevel
Architecture: any
Description: pseudo package which depends on all psycle development packages
 Install this pseudo package to easily bring all psycle development packages.

Package:  psycle-0-doc
Provides: psycle-doc
Suggests: psycle-0 (= ${Source-Version})
Section: doc
Architecture: all
Description: documentation for psycle
 Psycle is a modular music creation studio.
 .
 Psycle comes in several subcomponents:
     - several shared library back-ends: engine, plugins, host, gui, text
     - a text-based front-end program using the shared libraries
     - a GTKMM/GNOME GUI front-end program using the shared libraries

Package:  lib-psycle.configuration-0-dev
Provides: lib-psycle.configuration-dev
Depends:  lib-universalis-0-dev (>= 0.0.0), ${misc:Depends}, pkg-config (>= 0.18)
Section: libdevel
Architecture: any
Description: development files common to all psycle development packages
 This package just contain the include headers configuration.hpp and project.hpp
 which are shared amongst all psycle development packages.

Package: lib-psycle.engine-0
Provides: lib-psycle.engine
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: libs
Architecture: any
Description: engine of psycle as a shared library
 _

Package:  lib-psycle.engine-0-dev
Provides: lib-psycle.engine-0-dev
Depends:  lib-psycle.engine-0 (= ${Source-Version}), lib-psycle.configuration-0-dev (= ${Source-Version}), ${misc:Depends}
Section: libdevel
Architecture: any
Description: development files for the engine of psycle
 _

Package:  lib-psycle.plugins-0
Provides: lib-psycle.plugins
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: libs
Architecture: any
Description: plugins for psycle
 _

Package:  lib-psycle.plugins-0-dev
Provides: lib-psycle.plugins-dev
Depends:  lib-psycle.plugins-0 (= ${Source-Version}), lib-psycle.engine-0-dev (= ${Source-Version}), libgstreamer0.8-dev (>= 0.8.8), libgstreamer-gconf0.8-dev (>= 0.8.6), libgconf2-dev (>= 2), libjack-dev (>= 0.80.0) | libjack0.80.0-dev (>= 0.80.0) | libjack0.100.0-dev (>= 0.80.0), libasound2-dev (>= 1.0.8), ${misc:Depends}
Section: libdevel
Architecture: any
Description: development files for the plugins for psycle
 _

Package:  lib-psycle.host-0
Provides: lib-psycle.host
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: libs
Architecture: any
Description: host of psycle as a shared library
 _

Package:  lib-psycle.host-0-dev
Provides: lib-psycle.host-dev
Depends:  lib-psycle.host-0 (= ${Source-Version}), lib-psycle.engine-0-dev (= ${Source-Version}), ${misc:Depends}
Section: libdevel
Architecture: any
Description: development files for the host of psycle
 _

Package:  lib-psycle.text-0
Provides: lib-psycle.text
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: libs
Architecture: any
Description: text-based front-end for psycle as a shared library
 _

Package:  lib-psycle.text-0-dev
Provides: lib-psycle.text-dev
Depends:  lib-psycle.text-0 (= ${Source-Version}), lib-psycle.host-0-dev (= ${Source-Version}), ${misc:Depends}
Section: libdevel
Architecture: any
Description: development files for the text-based front-end for psycle
 _

Package:  lib-psycle.gui-0
Provides: lib-psycle.gui
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: libs
Architecture: any
Description: GTKMM/GNOME GUI front-end for psycle as a shared library
 _

Package:  lib-psycle.gui-0-dev
Provides: lib-psycle.gui-dev
Depends:  lib-psycle.gui-0 (= ${Source-Version}), lib-psycle.host-0-dev (= ${Source-Version}), libgtkmm-2.4-dev (>= 2.4), libgnomecanvasmm-2.6-dev (>= 2.6), ${misc:Depends}
Section: libdevel
Architecture: any
Description: development files for the GTKMM/GNOME GUI front-end for psycle
 _

Package:    psycle.text-0
Provides:   psycle.text, psycle.front-end
Recommends: psycle-0-doc (= ${Source-Version}), lib-psycle.plugins-0 (= ${Source-Version})
Suggests:   psycle.gui-0 (= ${Source-Version})
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: front-end program for lib-psycle.host, text-based version
 _

Package:    psycle.gui-0
Provides:   psycle.gui, psycle.front-end
Recommends: psycle-0-doc (= ${Source-Version}), lib-psycle.plugins-0 (= ${Source-Version})
Suggests:   psycle.text-0 (= ${Source-Version})
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: front-end program for lib-psycle.host, GTKMM/GNOMEMM GUI version
 _
