[Desktop Entry]
Encoding=UTF-8
Name=psycle
Comment=modular music creation studio
Exec=psycle.gui
Icon=psycle.png
Type=Application
X-GNOME-DocPath=psycle/index.html
X-GNOME-Bugzilla-Bugzilla=psycle
X-GNOME-Bugzilla-Product=psycle
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=1.0.0
Categories=Application;Sound;Editor;
StartupNotify=true
