/*
	A stylesheet for the waterfall status delivery of the master buildbot
	(originally comes from fluendo's buildbot)
*/

* {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
}

a:link, a:visited, a:active {
	color: #666666;
}
a:hover {
	color: #000066;
}

td.Event, td.Change, td.Time, td.Builder {
	color: #333333;
	border: 1px solid #666666;
	background-color: #e8f4f4;
}

td.Activity {
	border: 1px solid #666666;
}

td.BuildStep {
}

td.box {
       border: 1px solid;
}

/* Activity states */
.offline { 
	background-color: #bbbbbb;
}
.idle {
	background-color: #dddddd;
}
.waiting { 
	background-color: yellow;
}
.building {
	background-color: #fffc6c;
}

/* LastBuild, BuildStep states */
.success {
	color: #FFFFFF;
	border: 1px solid #2f8f0f;
	background-color: #8fdf5f;
}
.failure {
	color: #FFFFFF;
	border: 1px solid #f33636;
	background-color: #e98080;
}
.warnings {
	color: #FFFFFF;
	border: 1px solid #fc901f;
	background-color: #ffc343;
}
.exception {
	color: #FFFFFF;
	border: 1px solid #8000c0;
	background-color: #e0b0ff;
}
.start,.running {
	color: #666666;
	border: 1px solid #ffff00;
	background-color: #fffc6c;
}

/* grid styles */

table.Grid {
    border-collapse: collapse;
}

table.Grid tr td {
    padding: 0.2em;
    margin: 0px;
    text-align: center;
}

table.Grid tr td.title {
    font-size: 90%;
    border-right: 1px gray solid;
    border-bottom: 1px gray solid;
}

table.Grid tr td.sourcestamp {
    font-size: 90%;
}

table.Grid tr td.builder {
    text-align: right;
    font-size: 90%;
}

table.Grid tr td.build {
    border: 1px gray solid;
}

div.footer {
    font-size: 80%;
}
