#! /usr/bin/make -f
# http://www.debian.org/doc/devel-manuals

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

%:
	dh $@

CXXFLAGS = -g -Wall
ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
 CXXFLAGS += -O2
endif

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
 cross_compile_flags =
 strip_prog = strip
else
 cross_compile_flags = \
  --cxx=$(DEB_HOST_GNU_TYPE)-g++ \
  --ar=$(DEB_HOST_GNU_TYPE)-ar
 strip_prog = $(DEB_HOST_GNU_TYPE)-strip
endif

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
 STRIP = $(strip_prog) --remove-section=.comment --remove-section=.note
else
 STRIP = true
endif

override_dh_auto_configure:
	:

override_dh_auto_build:
	build-systems/wonderbuild/wonderbuild_script.py \
		$(cross_compile_flags) \
		--cxx-flags='$(CXXFLAGS)' \
		--bld-dir=$$(pwd)/debian/build \
		--install-prefix-dir=/usr

override_dh_auto_test:
	set -e && \
	for test in $$(pwd)/debian/build/staged-install/usr/bin/*-unit-tests; \
	do \
		$$test --log_level=test_suite --report_level=detailed; \
	done

override_dh_auto_install:
	:

override_dh_auto_clean:
	rm -Rf debian/build

