#!/bin/bash

##############################################################################
#
# This source is free software ; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation ; either version 2, or (at your option) any later version.
# copyright 2004-2007 johan boule <bohan@jabber.org>
# copyright 2004-2007 psycledelics http://psycle.pastnotecut.org
#
# \meta generic
# \meta standard gnu
#
##############################################################################

function main
{
	#cd $(tla tree-root) &&
	cd $(dirname $0)/.. &&
	for project_tree in $(find . -follow -name {arch} -exec dirname {} \;)
	do
		(
			cd $project_tree &&
			local revision=$(tla logs --full --reverse | head --lines 1) &&
			echo $revision $project_tree
		) ||
		return
	done |
	sort
}

main "$@"
